{% load static %}
<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
     <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>
  <body>
    <div class="wrapper"> 
     <nav>
        <ul>
          {% if user.is_authenticated %}
            <li>
              <form class="logout-link" action="{% url 'accounts:logout' %}" >
              {% csrf_token %}
              <button type="submit">logout</button>
              </form>
            </li>
            <li>
              <a href="{% url 'panel:panel' %}">MyPanel</a>
            </li>
          {% else %}
            <li>
              <a href="{% url 'accounts:login' %}">Login</a>
            </li>
            <li>
              <a href="{% url 'accounts:login' %}">SignUp</a>
            </li>
          {% endif %}
        </ul>
     </nav>
    {% block content %}
    
    {% endblock %}
    </div>
  </body>
</html>