{% extends 'base.html' %}

{% load i18n %}
<title>Home page</title>
{% block content %}

<h1>
Home page
</h1>
        <div class="homepage">
        <p class="hometext">
  پروژه ما در زمینه خانه هوشمند هست و قابلیت های این پروژه خاموش روشن کردن لامپ های خونه با استفاده از پلتفرم و وضعیت گاز در خانه در صورتی که نشتی گاز در خانه رخ دهد سنسور ها متوجه شده و در پنل یک ال ای دی قرمز نمایش داده شده و به شماره تلفنی صاحب خانه اسمس فرستاده میشود و برق خانه هم قطع میشود برای جلوگیری از اتش سوزی در خانه قابلیت نشان دادن دما و رطوبت در سایت و این اطلاعات هر ۵ ثانیه در سایت اپدیت میشوند.
        </p>
        <a href="{% url 'accounts:signup' %}" class="homebutton bouncy">Sign up</a>
        <a href="{% url 'accounts:login' %}" class="homebutton bouncy" style="animation-delay:0.07s">Login</a>
        <a href="about/" class="homebutton bouncy" style="animation-delay:0.14s">About</a>
        </div>
{% endblock content %}