{% extends 'base.html' %}

{% load i18n %}
<title>Home page</title>
{% block content %}

<h1>
Home page
</h1>
        <div class="homepage">
        <p>
        some details about project 
        some details about project 
        some details about project 
        some details about project 
        some details about project 
        some details about project 
        some details about project 
        some details about project 
        some details about project 
        some details about project 
        some details about project 
        some details about project 
        some details about project 
        some details about project 
        some details about project 
        some details about project 
        some details about project 
        some details about project 
        some details about project 
        some details about project 
        some details about project 
        some details about project 
        </p>
        <a href="{% url 'accounts:signup' %}" class="homebutton bouncy">Sign up</a>
        <a href="{% url 'accounts:login' %}" class="homebutton bouncy" style="animation-delay:0.07s">Login</a>
        <a href="about/" class="homebutton bouncy" style="animation-delay:0.14s">About</a>
        </div>
{% endblock content %}