{% extends 'base.html' %}

{% load i18n %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title>Panel</title>

</head>

{% block content  %}
<body onload=pagerefresh()>
<h1 class="font-weight-bold py-3">Panel</h1>
<div class="site-form" >
  <div id="form">
    <p>Rooms tempreture:</p>
    <input  id = "degree_input" type="number" placeholder="degree" value="degreevalue">
    <button class="btn" type="submit" onclick=degree_update()>submit degree</button>
  </div>
  <div class = "relative">
      <div class="col-log-7 px-5 pt-8 mt-3">
        <p>light1 :</p>
        <label class="switch">
          <input type="checkbox" id="light" onclick=update_light1_status()>
          <span class="slider round"></span>
        </label>
      </div>
    </div>
      <div class = "relative">
      <div class="col-log-7 px-5 pt-8 mt-3">
        <p>light2 :</p>
        <label class="switch">
          <input type="checkbox" id="light" onclick=update_light2_status()>
          <span class="slider round"></span>
        </label>
      </div>
    </div>
      <div class = "relative">
      <div class="col-log-7 px-5 pt-8 mt-3">
        <p>light3 :</p>
        <label class="switch">
          <input type="checkbox" id="light" onclick=update_light3_status()>
          <span class="slider round"></span>
        </label>
      </div>
    </div>  
      <div class="col-log-7 px-5 pt-8 mt-3">
        <p>light4 :</p>
        <label class="switch">
          <input type="checkbox" id="light" onclick=update_light4_status()>
          <span class="slider round"></span>
        </label>
      </div>  
    
    <div class="form-row">
      <div class="col-log-7 px-5 pt-7">
        <p>Turn Electricity ON/OFF:</p>
        <label class="switch">
          <input type="checkbox" onclick=update_electricity_status()>
          <span class="slider round"></span>
        </label>
      </div>
    </div>
    <div class="form-row">
      <div class="col-log-7 px-5 pt-7">
        <p>Auto/Manual:</p>
        <label class="switch">
          <input type="checkbox" onclick=update_manualorauto_status()>
          <span class="slider round"></span>
        </label>
      </div>
    </div>
    <p id="statusID">{{status}}</p>
    {% if status is True %}
    <div class="container">
      <div class="led-box">
        <div class="led-green"></div>
        <p>Gas status :</p>
      </div>
    {% elif status is False %}
      <div class="led-box">
        <div class="led-red"></div>
        <p>Gas status :</p>
      </div>
    </div>
    {% endif %}
  <div class="form-row">
      <div class="col-log-7 px-5 pt-7">
        <p>Open/Close window</p>
        <label class="switch">
          <input type="checkbox" onclick=update_window_status()>
          <span class="slider round"></span>
        </label>
      </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script>
    function pagerefresh() { 
        setInterval(function() {  
          gas();  
        }, 5000); 
    };
    function update_light1_status() {

      if (window.XMLHttpRequest) {
        // code for modern browsers
        xhttp = new XMLHttpRequest();
      } else {
        // code for IE6, IE5
        xhttp = new ActiveXObject("Microsoft.XMLHTTP");
      }
      xhttp.open("GET", "light1", true);
      xhttp.send();
    };
    function update_light2_status() {

      if (window.XMLHttpRequest) {
        // code for modern browsers
        xhttp = new XMLHttpRequest();
      } else {
        // code for IE6, IE5
        xhttp = new ActiveXObject("Microsoft.XMLHTTP");
      }
      xhttp.open("GET", "light2", true);
      xhttp.send();
    };
        function update_light3_status() {

      if (window.XMLHttpRequest) {
        // code for modern browsers
        xhttp = new XMLHttpRequest();
      } else {
        // code for IE6, IE5
        xhttp = new ActiveXObject("Microsoft.XMLHTTP");
      }
      xhttp.open("GET", "light3", true);
      xhttp.send();
    };
        function update_light4_status() {

      if (window.XMLHttpRequest) {
        // code for modern browsers
        xhttp = new XMLHttpRequest();
      } else {
        // code for IE6, IE5
        xhttp = new ActiveXObject("Microsoft.XMLHTTP");
      }
      xhttp.open("GET", "light4", true);
      xhttp.send();
    };

    function update_window_status() {

      if (window.XMLHttpRequest) {
        // code for modern browsers
        xhttp = new XMLHttpRequest();
      } else {
        // code for IE6, IE5
        xhttp = new ActiveXObject("Microsoft.XMLHTTP");
      }
      xhttp.open("GET", "window", true);
      xhttp.send();
    };
    function update_electricity_status() {

      if (window.XMLHttpRequest) {
        // code for modern browsers
        xhttp = new XMLHttpRequest();
      } else {
        // code for IE6, IE5
        xhttp = new ActiveXObject("Microsoft.XMLHTTP");
      }
      xhttp.open("GET", "electricity", true);
      xhttp.send();
    };
    function update_manualorauto_status() {

      if (window.XMLHttpRequest) {
        // code for modern browsers
        xhttp = new XMLHttpRequest();
      } else {
        // code for IE6, IE5
        xhttp = new ActiveXObject("Microsoft.XMLHTTP");
      }
      xhttp.open("GET", "manualorauto", true);
      xhttp.send();
    };

    function degree_update(){
    var http = new XMLHttpRequest();
    var url = 'panel/light';
    var params = 'degree='+docoument.getElementById('degree_input').value;
    http.open('POST', url, true);

    http.onreadystatechange = function() {//Call a function when the state changes.
        if(http.readyState == 4 && http.status == 200) {
            alert(http.responseText);
        }
    }
    http.send(params);
    };
    function gas() {
      var xmlhttp 
      xmlhttp = new XMLHttpRequest();
      xmlhttp.onreadystatechange=function() {
        if (xmlhttp.readyState==4 && xmlhttp.status==200) {
          var response = (xmlHttpRequest.responseText).find('status').text()
          console.log(response);
        }
      }
      xmlhttp.open("GET", "gas", true);
      xmlhttp.send();
    };
  </script>
</body>
{% endblock %}
</html>