{% extends 'base.html' %}

{% load i18n %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link href="//allfont.net/allfont.css?fonts=digital-7-mono" rel="stylesheet" type="text/css" />
  <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title>Panel</title>

</head>

{% block content  %}
<body onload=pagerefresh()>
<h1 class="font-weight-bold py-3">Panel</h1>
<div class="site-form" >
  <div class="degree">
    <p>tempreature:</p>
    <p id="degreediv" class="temperature">please wait ...</p>
  </div>
  <div class="degree">
    <p>humidity:</p>
    <p id="humiditydiv" class="humidity">please wait ...</p>
  </div>
  <div class = "relative">
      <div class="col-log-7 px-5 pt-8 mt-3">
        <p>light1 :</p>
        <label class="switch">
          <input class="btnhorizon" type="checkbox" id="light" onclick=update_light1_status()>
          <span class="slider round"></span>
        </label>
      </div>
    </div>
      <div class = "relative">
      <div class="col-log-7 px-5 pt-8 mt-3">
        <p>light2 :</p>
        <label class="switch">
          <input class="btnhorizon" type="checkbox" id="light" onclick=update_light2_status()>
          <span class="slider round"></span>
        </label>
      </div>
    </div>
      <div class = "relative">
      <div class="col-log-7 px-5 pt-8 mt-3">
        <p>light3 :</p>
        <label class="switch">
          <input type="checkbox" id="light" onclick=update_light3_status()>
          <span class="slider round"></span>
        </label>
      </div>
    </div>  
      <div class="col-log-7 px-5 pt-8 mt-3">
        <p>light4 :</p>
        <label class="switch">
          <input type="checkbox" id="light" onclick=update_light4_status()>
          <span class="slider round"></span>
        </label>
      </div>  
    
    <div class="form-row">
      <div class="col-log-7 px-5 pt-7">
        <p>Turn Electricity ON/OFF:</p>
        <label class="switch">
          <input type="checkbox" onclick=update_electricity_status()>
          <span class="slider round"></span>
        </label>
      </div>
    </div>
    <div class="container">
      <div class="led-box">
        <div id="ledgreen"></div>
        <p>Gas status :</p>
      </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script>
    function updateHTML(elmId, value) {
    var elem = document.getElementById(elmId);
    if(typeof elem !== 'undefined' && elem !== null) {
      elem.innerHTML = value;
      }
    }
    function pagerefresh() { 
        setInterval(function() {  
          degree_update();
          humidity_update();
          gas();
        }, 5000); 
    };
    function update_light1_status() {

      if (window.XMLHttpRequest) {
        // code for modern browsers
        xhttp = new XMLHttpRequest();
      } else {
        // code for IE6, IE5
        xhttp = new ActiveXObject("Microsoft.XMLHTTP");
      }
      xhttp.open("GET", "light1", true);
      xhttp.send();
    };
    function update_light2_status() {

      if (window.XMLHttpRequest) {
        // code for modern browsers
        xhttp = new XMLHttpRequest();
      } else {
        // code for IE6, IE5
        xhttp = new ActiveXObject("Microsoft.XMLHTTP");
      }
      xhttp.open("GET", "light2", true);
      xhttp.send();
    };
      function update_light3_status() {

      if (window.XMLHttpRequest) {
        // code for modern browsers
        xhttp = new XMLHttpRequest();
      } else {
        // code for IE6, IE5
        xhttp = new ActiveXObject("Microsoft.XMLHTTP");
      }
      xhttp.open("GET", "light3", true);
      xhttp.send();
    };
      function update_light4_status() {

      if (window.XMLHttpRequest) {
        // code for modern browsers
        xhttp = new XMLHttpRequest();
      } else {
        // code for IE6, IE5
        xhttp = new ActiveXObject("Microsoft.XMLHTTP");
      }
      xhttp.open("GET", "light4", true);
      xhttp.send();
    };

    function update_electricity_status() {

      if (window.XMLHttpRequest) {
        // code for modern browsers
        xhttp = new XMLHttpRequest();
      } else {
        // code for IE6, IE5
        xhttp = new ActiveXObject("Microsoft.XMLHTTP");
      }
      xhttp.open("GET", "electricity", true);
      xhttp.send();
    };

  function degree_update() {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("degreediv").innerHTML = this.responseText;
        
      }
    };
      xhttp.open("GET", "degree", true);
      xhttp.send();
    };

    function humidity_update() {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("humiditydiv").innerHTML = this.responseText;
      }
    };
      xhttp.open("GET", "humidity", true);
      xhttp.send();
    };


    function gas() {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      var x = this.responseText;
      console.log(x)
      if ( x == "false") {
      var e =document.getElementById('ledgreen');
      e.id = "ledred";
      }else if  (x == "true"){
      var z =document.getElementById('ledred');
      z.id = "ledgreen";
      }
      }
    };
      xhttp.open("GET", "gas", true);
      xhttp.send();
    };
  </script>
</body>
{% endblock %}
</html>